<h1 class="text-2xl py-16 font-bold text-center text-black-900 flex items-center justify-center flex-1 h-full mx-auto">投稿詳細</h1>
<div class="container flex items-center justify-center flex-1 h-full mx-auto">
  <!-- 掲示板内容 -->
  <div class="card w-96 shadow-xl post_image mb-16" >
    <div class="card-body items-center">
      <div class='row'>
        <div class='col-md-9'>
          <h3 class="d-inline"><%= @post.title %></h3>	
          <ul class="list-inline">
            <li class="list-inline-item">by <%= @post.user.name %></li>
            <li class="list-inline-item"><%= l @post.created_at, format: :long %></li>
          </ul>
        </div>
      </div>
      <p><%= simple_format(@post.body) %></p>
      <div class="inline-flex">
        <div class="card-actions justify-end ml-2">
          <button class="btn btn-info"><%= link_to '編集', edit_post_path(@post)%></button>
        </div>
        <div class="card-actions justify-end ml-2">
          <button class="btn btn-secondary"><%= link_to '削除', post_path(@post),data: { turbo_method: :delete } %></button>
        </div>
    </div>
  </div>
</div>